@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .frc {
    @apply flex flex-row items-center;
  }
  .fcc {
    @apply flex  flex-col items-center;
  }
  .ScaleAnimation {
    @apply hover:scale-125 transition-all duration-75 cursor-pointer;
  }
  .PreBuildColour {
    @apply from-violet-500 to-indigo-500 from-indigo-700 from-green-600 to-lime-500 to-indigo-700 from-sky-600 to-indigo-600 from-green-500 to-emerald-500 from-orange-500 to-amber-500 from-gray-900 to-yellow-500 from-blue-500 to-cyan-500 from-yellow-500 to-yellow-500 from-red-500 from-[#936550] to-orange-900 from-slate-900 to-black  from-blue-900 to-blue-500  to-rose-500 from-blue-600 to-blue-500 shadow-blue-500 shadow-rose-500 shadow-violet-500;
  }
  .prebuildshaode {
    @apply shadow-lime-500  shadow-blue-500  shadow-green-500 shadow-orange-500 shadow-yellow-500  shadow-black  shadow-indigo-500  shadow-orange-800;
  }
  .transition {
    @apply transition-all duration-150;
  }
}

#monospace {
  font-family: "Share Tech Mono", monospace;
}
.monospace {
  font-family: "Share Tech Mono", monospace;
}
#Roboto {
  font-family: "Roboto", sans-serif;
}
#italy {
  font-family: "Square Peg", cursive;
}

#cutomscoll::-webkit-scrollbar {
  width: 6px;
}
#cutomscoll::-webkit-scrollbar-track {
  background: black;
}

#cutomscoll::-webkit-scrollbar-thumb {
  background: white;
  z-index: 90;
  border-radius: 8px;
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scroolbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#scroolbar-hidden::-webkit-scrollbar {
  display: none;
}

.splide__track {
  margin: 0 !important;
  padding: 0 !important;
}

/* text-gradient */
.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-tr from-blue-500 to-sky-500;
}

/* Theme-Colors */
.bg-theme {
  background-image: linear-gradient(
    0.2deg,
    rgba(40, 173, 222, 1) 4.8%,
    rgb(27, 76, 224) 85.5%
  );
}

/* Blur-Effect White */
.blur-effect-theme {
  @apply bg-white/50 dark:bg-black/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm
     shadow-slate-100 dark:shadow-slate-900  transition-all duration-300;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

@media screen and (max-width: 950px) {
  .bg-theme-media {
    background-image: linear-gradient(
      0.2deg,
      rgba(40, 173, 222, 1) 4.8%,
      rgb(27, 76, 224) 85.5%
    );
  }
}
